spring:
    application:
        name: OAuthGoogleLoginExample
    datasource:
        url: ${DB_JDBC_URL}
        username: ${DB_USER}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        database: mysql
        # Hibernate 6(=Spring Boot 3) ?? ? ??
        database-platform: org.hibernate.dialect.MySQLDialect
        hibernate:
            ddl-auto: create
        show-sql: true
        properties:
            hibernate:
                format_sql: false
                use_sql_comments: true

jwt:
    secret: ${JWT_SECRET}
    access-token-validity-in-milliseconds: ${ACCESS_TOKEN_VALIDITY_IN_MILLISECONDS}
